extends ../_template-admin

block variables
  - var title = 'Admin page'

block content
  .wrapper
    header.admin-header
      .container.admin-header__container
        .admin-header__title Административная панель
        a(href='/').admin-header__link Вернуться на сайт
    section.admin-content
      .container.admin-content__container
        .form-container
          form.form-skill(action='/admin/skills' method='POST')
            .form-title Счетчики
            if (msgskill)
              .status= msgskill
            label.form-skill__input-line
              span.form-skill__input-title= skills.age.text
              input(name='age' type='number' value=skills.age.number).form-skill__input
            label.form-skill__input-line
              span.form-skill__input-title= skills.concerts.text
              input(name='concerts' type='number' value=skills.concerts.number).form-skill__input
            label.form-skill__input-line
              span.form-skill__input-title= skills.cities.text
              input(name='cities' type='number' value=skills.cities.number).form-skill__input
            label.form-skill__input-line
              span.form-skill__input-title= skills.years.text
              input(name='years' type='number' value=skills.years.number).form-skill__input
            .form__btns.form-skill__input-line
              button(type='submit').button Сохранить
          form.form-upload(action='/admin/upload' method='POST' enctype='multipart/form-data')
            .form-title Добавить товар
            if (msgfile)
              .status= msgfile
            .form-upload__input-line
              .form-upload__wraper
                label.form-upload__label
                  input(name='photo' type='file' required accept='image/*').form-upload__input-file
                  span.form-upload__input-file-title Загрузить фото
            .form-upload__input-line
              input(name='name' type='text' placeholder='Название').form-upload__input
            .form-upload__input-line
              input(name='price' type='text' placeholder='Цена').form-upload__input
            .form-upload__input-line.form-upload__input-line--btn
              button(type='submit').button Добавить
